# Config
**/custom.ini
**/*custom.ini

# Generated
*-lock.json
*-lock.y*ml
*.lock
**/node_modules

# Logs
**/logs

# Tests
**/actions
./data

# Zip
**/*.zip
**/*.gz

# XLSX
**/*.xls*

# Keys
**/*.pem
**/*.prv
**/*.pub

# Idz
features
notes
z_notes

# Dev
bak
.vscode