// FONT
/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('./fonts/Montserrat-Thin.ttf') format('truetype');
}
/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local(''), url('./fonts/Montserrat-ThinItalic.ttf') format('truetype');
}
/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('./fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local(''), url('./fonts/Montserrat-LightItalic.ttf') format('truetype');
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('./fonts/Montserrat-Light.ttf') format('truetype');
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local(''), url('./fonts/Montserrat-LightItalic.ttf') format('truetype');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/Montserrat-Regular.ttf') format('truetype');
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('./fonts/Montserrat-Italic.ttf') format('truetype');
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./fonts/Montserrat-Medium.ttf') format('truetype');
}
/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local(''), url('./fonts/Montserrat-MediumItalic.ttf') format('truetype');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}
/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local(''), url('./fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./fonts/Montserrat-Bold.ttf') format('truetype');
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local(''), url('./fonts/Montserrat-BoldItalic.ttf') format('truetype');
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('./fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local(''), url('./fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('./fonts/Montserrat-Black.ttf') format('truetype');
}
/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local(''), url('./fonts/Montserrat-BlackItalic.ttf') format('truetype');
}

// change the theme
$theme-colors: (
  primary: #004680,
  secondary: #ff8d6d,
  success: #53dd6c,
  warning: #fec10b,
  danger: #a3333d,
  navbar: #004680,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// CSS
body {
  font-family: 'Montserrat', var(--font-family-sans-serif);
  color: #004680;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-switch {
  margin: 0 auto;
  max-width: 320px;
}

.button-margin {
  margin: 0px 2px;
}
.bg-navbar {
  background-color: theme-color('navbar');
}
.icon-navbar {
  height: 40px;
}
.hideWIP {
  display: none;
}
.badge-monitoring {
  display: block;
}

.tempMinHeight {
  min-height: 150px;
}

.tempAlign {
  align-self: flex-start;
}
.tempMargin {
  margin-bottom: 5px;
}
