body {
    margin: 0;
}

.container, .wide-container {
    margin: 0 auto;
}

.row {
    display: flex;
    row-gap: 8px;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.row.align_center {
    align-items: center;
}

.row > * { margin: 0 8px; }

.row > .row  { margin: 0; }

input.col {
    box-sizing: border-box;
}

/* Extra small (phone) */
@media only screen and (max-width: 599px) {
    .container { margin: 0 16px; }
    .wide-container { margin: 0 8px; }

    .row .col.s1 { width: calc(25% - 16px); }
    .row .col.s2 { width: calc(50% - 16px); }
    .row .col.s3 { width: calc(75% - 16px); }
    .row .col.s4 { width: calc(100% - 16px); }

    .row .col.offset-s1 { margin-left: calc(25% - 16px); }
    .row .col.offset-s2 { margin-left: calc(50% - 16px); }
    .row .col.offset-s3 { margin-left: calc(75% - 16px); }
    .row .col.offset-s4 { margin-left: calc(100% - 16px); }
}

/* Small (tablet) */ 
@media only screen and (min-width: 600px) and (max-width: 904px) {
    .container { margin: 0 32px; }
    .wide-container { margin: 0 16px; }
    
}

@media only screen and (min-width: 905px) and (max-width: 1240px) {
    .container { width: 804px; }
    .wide-container { width: 895px; }
}

/* Medium (laptop) */
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
    .container { margin: 0 200px; }
    .wide-container { margin: 0 50px; }
}

/* Large (desktop) */
@media only screen and (min-width: 1440px) {
    .container { width: 1040px; }
    .wide-container { width: 1240px; }

    .row .col.l1 { width: calc(8.33% - 16px); }
    .row .col.l2 { width: calc(16.66% - 16px); }
    .row .col.l3 { width: calc(25% - 16px); }
    .row .col.l4 { width: calc(33.33% - 16px); }
    .row .col.l5 { width: calc(41.66% - 16px); }
    .row .col.l6 { width: calc(50% - 16px); }
    .row .col.l7 { width: calc(58.33% - 16px); }
    .row .col.l8 { width: calc(66.66% - 16px); }
    .row .col.l9 { width: calc(75% - 16px); }
    .row .col.l10 { width: calc(83.33% - 16px); }
    .row .col.l11 { width: calc(91.666% - 16px); }
    .row .col.l12 { width: calc(100% - 16px); }

    .row .col.offset-l1 { margin-left: calc(8.33% - 16px); }
    .row .col.offset-l2 { margin-left: calc(16.66% - 16px); }
    .row .col.offset-l3 { margin-left: calc(25% - 16px); }
    .row .col.offset-l4 { margin-left: calc(33.33% - 16px); }
    .row .col.offset-l5 { margin-left: calc(41.66% - 16px); }
    .row .col.offset-l6 { margin-left: calc(50% - 16px); }
    .row .col.offset-l7 { margin-left: calc(58.33% - 16px); }
    .row .col.offset-l8 { margin-left: calc(66.66% - 16px); }
    .row .col.offset-l9 { margin-left: calc(75% - 16px); }
    .row .col.offset-l10 { margin-left: calc(83.33% - 16px); }
    .row .col.offset-l11 { margin-left: calc(91.666% - 16px); }
    .row .col.offset-l12 { margin-left: calc(100% - 16px); }
}

@media only screen and (min-width: 600px) and (max-width: 1440px) {
    .row .col.m1 { width: calc(12.5% - 16px); }
    .row .col.m2 { width: calc(25% - 16px); }
    .row .col.m3 { width: calc(37.5% - 16px); }
    .row .col.m4 { width: calc(50% - 16px); }
    .row .col.m5 { width: calc(62.5% - 16px); }
    .row .col.m6 { width: calc(75% - 16px); }
    .row .col.m7 { width: calc(87.5% - 16px); }
    .row .col.m8 { width: calc(100% - 16px); }

    .row .col.offset-m1 { margin-left: calc(12.5% - 16px); }
    .row .col.offset-m2 { margin-left: calc(25% - 16px); }
    .row .col.offset-m3 { margin-left: calc(37.5% - 16px); }
    .row .col.offset-m4 { margin-left: calc(50% - 16px); }
    .row .col.offset-m5 { margin-left: calc(62.5% - 16px); }
    .row .col.offset-m6 { margin-left: calc(75% - 16px); }
    .row .col.offset-m7 { margin-left: calc(87.5% - 16px); }
    .row .col.offset-m8 { margin-left: calc(100% - 16px); }
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

