/*
 * CSS for all pages
 * @author Florian Desmortreux 
*/

:root {
    --primary-color: #007cba;
    --primary-dark: #006ba1;
    --primary-darker: #005a87;
    --accent-color: #0098e4;
    --secondary-accent-color: #ff8d6d;
    --text-rgb: 0, 0, 0;
}

html {
    font-family: sans-serif;
}

/* --- Custom tooltip ---- */
.top-tooltip { 
    position: relative;
    outline: none;
}

.top-tooltip::before {
    content: attr(data-tooltip);
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 50%;
    width: max-content;
    transform: translate(-50%, calc(-100% - 1em));
    background: black;
    border-radius: 5px;
    padding: 0 1em;
    font-weight: bold;
    color: white;
    font-size: 1em;
    display: none;
}

.top-tooltip:hover::before,
.top-tooltip:focus::before {
    display: block;
}

.right-tooltip {
    position: relative;
    outline: none;
}

.right-tooltip::before {
    content: attr(data-tooltip);
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: calc(100% + 1em);
    width: max-content;
    transform: translateY(-50%);
    opacity: 0;
    background: black;
    border-radius: 5px;
    padding: 0 1em;
    font-weight: bold;
    color: white;
    font-size: 1em;
    display: none;
}

.right-tooltip:hover::before,
.right-tooltip:focus::before {
    display: block;
}

/* Dev paste */

textarea#dev_paste {
    box-sizing: border-box;
    align-self: stretch;
    border: none;
    outline: none;
    resize: none;
    caret-color: transparent;
}


/* Customize form */

form-header > h1 {
    color: var(--secondary-accent-color);
}

custom-form:not(:empty) + .empty_display {
    display: none;
}

/* ---- other ---- */

#result_pre {
    min-height: 50vh;
}

div#overlay_manager div#filename_input_overlay {
    min-height: 0;
    max-width: 50vw;
    padding: 1em;
}

.cardgrid::part(display) {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    grid-auto-rows: 1fr;
    place-items: stretch;
    column-gap: 1em;
    row-gap: 1em;
}

.card-title {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.card-subtitle {
    margin: 0;
    font-size: 0.8em;
    color: darkgray;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
